<!DOCTYPE html>
<html lang="en" ng-app="henkelReport">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Henkel report</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/add.css" rel="stylesheet">
    <link rel="stylesheet" href="css/pivot.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css"/>
        <script async src="data/reglament_controller.json"></script>
        <script async src="data/validation.json"></script>
        <script async src="data/data_date_map.json"></script>
        <script async src="data/info_loaded_packets.json"></script>
        <script async src="data/period_tracker.json"></script>
        <script async src="data/reglament_controller_doctype.json"></script>
        <script src="js/add_data.js"></script>
        <script src="js/add_data_master.js"></script>

        <script src="js/jquery1.11.3.min.js"></script>
        
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flot.min.js"></script>
        <script src="js/jquery.flot.pie.min.js"></script>
        <script src="js/jquery.flot.categories.min.js"></script>
        <script src="js/jquery.flot.orderBars.js"></script>
        <script src="js/jquery.flot.tooltip.min.js"></script>
        <script src="js/jquery.flot.axislabels.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-scroll.min.js"></script>
        <script src="js/angular-datatables.min.js"></script>
        <script src="js/add_logic.js"></script>
        <script src="js/pivot.js"></script>
        <script src="js/jquery-ui.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv3.7.2.min.js"></script>
      <script src="js/respond1.4.2.min.js"></script>
    <![endif]-->
  </head>
  <body >
    <div class="jumbotron">
        <div class="container">
            <!-- <h1>Henkel</h1> -->
            <div id="henkel_logo"></div>
            <p>Отчет обработки данных</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="list-group col-md-4" ng-controller="menuCtrl">
                <a id="toppage" href="#" class="list-group-item active">
                    Меню
                </a>
                <a href="#{{el.id}}" du-smooth-scroll du-scrollspy class="list-group-item" ng-repeat="el in menu_elements">{{el.header}}</a>
            </div>
            <div class="col-md-4">
                <table class="table" ng-controller="verCtrl">
                    <thead>
                        <tr>
                            <th ng-repeat="(i, val) in columns_ver">{{val.colName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{versionInfo['creation_date']}}</td>
                            <td>{{versionInfo['period_startdate']}}</td>
                            <td>{{versionInfo['period_enddate']}}</td>
                            <td>{{versionInfo['revision']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 go_top">
                <a href="#toppage" class="btn btn-default" du-smooth-scroll du-scrollspy>В начало</a>
            </div>
        </div>


        <div class="page-header" ng-controller="menuCtrl">
            <div ng-repeat="el in menu_elements"><div class="row">
                    <div class="col-md-12"><h1 id="{{el.id}}"  class="col-md-8">{{el.header}}</h4></div>

                    <div class="row" ng-if="el.id=='menu5'" >
                        <div class="col-md-8">
                            <div class="col-md-12 plot_num_4 {{el.id}} heigth_400" >
                            </div> 
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 plot_num_{{plot_num}} {{el.id}} {{plot_type(el.id, plot_num)}}" ng-repeat="plot_num in [1,2,3]" ng-hide="(el.id=='menu3' || el.id=='menu4' || el.id=='menu2') && plot_num>1">
                            </div> 
                        </div>
                    </div>
                    <div class="row" ng-if="el.id=='menu5'">
                        <div class="col-md-4 add_margin_top_bottom10">
                            <a href='' class="btn btn-default" ng-click="pt.open_pivot_table(); pt.add_pivot_data('rc')" ng-controller="pivotCtrl">Регламент по типам файлов</a>
                        </div>
                        <div class="col-md-4 add_margin_top_bottom10">
                            <a href='' class="btn btn-default" ng-click="pt.open_pivot_table(); pt.add_pivot_data('rcd')" ng-controller="pivotCtrl">Регламент по документам</a>
                        </div>
                    </div>
                    <div class="row col-md-8"><div class="panel panel-default" ng-controller="tableCtrl">
                            <!-- Default panel contents -->
                            <div class="panel-heading">{{el.table_header}}</div>

                            <table id="table_general" ng-if="$first" class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in tablesObj.table_general.columns">{{col.colName}}</th>
                                    </tr>
                                </thead> 
                                <tbody >
                                <tr ng-repeat="(i, d) in tablesObj.table_general.data" ng-click="show_general($event)">
                                    <td data-search="{{i}}">{{doc_type[i]['name']}}</td>
                                    <td>{{d.count | number}}</td>
                                    <td>{{d.error | number}}</td>
                                </tr>
                                </tbody>

                            </table>
                            <table id="table_error" ng-if='el.id=="menu2"' class="table" >
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in tablesObj.table_error.columns">{{col.colName}}</th>
                                    </tr>
                                </thead> 
                                <tbody >
                                <tr ng-repeat="(i, d) in tablesObj.table_error.data", ng-click="show_general($event)">
                                    <td>{{d.text}}</td>
                                    <td>{{d.count | number}}</td>
                                </tr>
                                </tbody>

                            </table>                   
                            <table id="table_changes" ng-if='el.id=="menu3"' class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in tablesObj.table_changes.columns">{{col.colName}}</th>
                                    </tr>
                                </thead> 
                                <tbody >
                                <tr ng-repeat="(i, change) in  tablesObj.table_changes.data" ng-click="show_general($event)">
                                    <td>{{month_name[change[0] - 1][ 'long_ru' ]}}</td>
                                    <td>{{change[1] | number}}</td>
                                </tr>
                                </tbody>

                            </table>
                            <table id="table_quality" ng-if='el.id=="menu4"' class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in tablesObj.table_quality.columns">{{col.colName}}</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                <tr ng-repeat="(i, el) in tablesObj.table_quality.data" ng-click="show_general($event)">
                                    <td>{{el.month|addZero:2 + " " + month_name[el.month - 1 ][ 'long_ru' ]}}</td>
                                    <td>{{doc_type[el.doctypeid]['name']}}</td>
                                    <td>{{el.count | number}}</td>
                                </tr>
                                </tbody>

                            </table>
                            <table id="table_schedule" ng-if='el.id=="menu5"' class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="col in tablesObj.table_schedule.columns">{{col.colName}}</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                <tr ng-repeat="(i, el) in tablesObj.table_schedule.data" ng-click="show_general($event)">
                                    <td>{{el[0]}}</td>
                                    <td>{{el[1]}}</td>
                                    <td>{{el[2]}}</td>
                                    <td>{{el[3]}}</td>
                                </tr>
                                </tbody>

                            </table>
                    </div></div>
            </div></div> 
        </div>


        <div class="row" ng-controller="verCtrl">
            <h5 ng-repeat="(key, el) in versionInfo">{{key}}  <small>{{el}}</small></h5>
        </div>
    



    <div id="plottooltip"></div>
    
    <div id="pivottable" ng-show="pt.showPivotTable" ng-controller="pivotCtrl">
        <div class="row">
            <div class="col-md-12 add_margin_top_bottom10">
                <div class="col-md-4">
                    <a href="" class="btn btn-default close_add_info" ng-click="pt.hide_pivot_table()">X</a>
                </div>
            </div>
        </div>

        <div id="pivottable_data"></div>
    </div>

    <div id="add_info" ng-show="showAddInfo" ng-controller="getAddDataCtrl" ng-click="$event.stopPropagation();">
        <div class="row">
            <div class="col-md-12 add_margin_top_bottom10">
                <div class="col-md-4">
                    <a href="" class="btn btn-default" ng-click="loadMore(); dtInstance.rerender(); $event.stopPropagation()">Загрузить еще</a>
                </div>
                <div class="col-md-4">
                    <span>Показано записей: </span> <span>{{limitToShowRecords}}</span> <span>из {{$parent.dataToShow.length}}</span>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn btn-default close_add_info pull-right" ng-click="hideAddInfo()">X</a>
                </div>
            </div>
        </div>
        <div>
            <table id='addInfoTable' datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" >
                <thead>
                    <tr>
                        <th ng-repeat="head in $parent.dataToShowHead track by $index">{{head}}</th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rec in $parent.dataToShow | limitTo:$parent.limitToShowRecords">
                    <td ng-repeat="sub_rec in rec track by $index">{{sub_rec}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script></script>

    </body>
    </html>
